.container-fluid
    .row
        .col-md-10.col-md-offset-1
            h1 Login
            a(href="#/") To the home page
            form.form-horizontal(role='form')
                .form-group
                    label.col-sm-4.control-label(for='inputUsername') Username
                    .col-sm-4
                        input#inputUsername.form-control(type='text', placeholder='Username', ng-model='login.email')
                .form-group
                    label.col-sm-4.control-label(for='inputPassword') Password
                    .col-sm-4
                        input#inputPassword.form-control(type='password', placeholder='Password', ng-model='login.password')
                .form-group
                    .col-sm-offset-4.col-sm-10
                        button.btn.btn-default(type='submit', ng-click='logIn(login.email, login.password)') Log In