td {{item.id}}
td {{item.username}}
td {{item.password}}
td {{item.firstname}}
td {{item.lastname}}
td {{item.street}}
td {{item.zip}}
td {{item.location}}
td(ng-show="isLoggedIn")
    button.form-control.btn-default.btn.btn-xs(type="button" ng-click="setUpdateMode(item)") Edit