td
    input.form-control(ng-model="updatableUser.id" ng-disabled="true")
td
    input.form-control(ng-model="updatableUser.username")
td
    input.form-control(ng-model="updatableUser.password")
td
    input.form-control(ng-model="updatableUser.firstname")
td
    input.form-control(ng-model="updatableUser.lastname")
td
    input.form-control(ng-model="updatableUser.street")
td
    input.form-control(ng-model="updatableUser.zip")
td
    input.form-control(ng-model="updatableUser.location")
td(ng-show="isLoggedIn")
    button.form-control.btn-success.btn.btn-xs(type="button" ng-click="updateUser(item);") Save
    button.form-control.btn-primary.btn.btn-xs(type="button" ng-click="cancelUpdating(item);") Cancel
    button.form-control.btn-danger.btn.btn-xs(type="button" ng-click="deleteUser(item.id);") Delete