.container-fluid
    .row
        .col-md-10.col-md-offset-1
            h1 App
            a(ng-if="!isLoggedIn" href="#/login") (Log in)
            a(ng-if="isLoggedIn" href="#/logout") (Log out)
            table.table.table-striped.table-bordered.table-hover.table-condensed
                thead
                    th #
                    th(ng-click="orderByField='username'; reverseSort = !reverseSort") Username
                    th(ng-click="orderByField='password'; reverseSort = !reverseSort") Password
                    th(ng-click="orderByField='firstname'; reverseSort = !reverseSort") First Name
                    th(ng-click="orderByField='lastname'; reverseSort = !reverseSort") Last Name
                    th(ng-click="orderByField='street'; reverseSort = !reverseSort") Street
                    th(ng-click="orderByField='zip'; reverseSort = !reverseSort") ZIP
                    th(ng-click="orderByField='location'; reverseSort = !reverseSort") Location
                tbody
                    tr(ng-repeat="item in data | orderBy:orderByField:reverseSort")
                        td {{$index}}
                        td {{item.username}}
                        td {{item.password}}
                        td {{item.firstname}}
                        td {{item.lastname}}
                        td {{item.street}}
                        td {{item.zip}}
                        td {{item.location}}

            .row(ng-show="isLoggedIn")
                .col-md-4
                    button.btn-default.btn(ng-click="showForm = !showForm") Add
                    button.btn-default.btn(ng-click="lala") Edit
                    button.btn-default.btn(ng-click="kfkf") Delete
                .col-md-4
                    p.text-danger(ng-if="passwordChecked == false") Passwords have to be exactly the same
                    form(ng-show="showForm" ng-init="form={}")
                        .form-group
                            input.form-control(ng-model="form.username" placeholder="Username" required )
                        .form-group
                            input.form-control(ng-model="form.password" placeholder="Password" required type="password")
                        .form-group
                            input.form-control(ng-model="form.passwordcheck" placeholder="Check password" required type="password")
                        .form-group
                            input.form-control(ng-model="form.firstname" placeholder="First name" required )
                        .form-group
                            input.form-control(ng-model="form.lastname" placeholder="Last name" required )
                        .form-group
                            input.form-control(ng-model="form.street" placeholder="Street (optional)")
                        .form-group
                            input.form-control(ng-model="form.zip" placeholder="ZIP (optional)")
                        .form-group
                            input.form-control(ng-model="form.location" placeholder="Location (optional)")
                        button.btn.btn-default(type="submit" ng-click="formSubmit(form)") Submit