.container-fluid
    .row
        .col-md-10.col-md-offset-1
            h1 App
            table.table.table-striped.table-bordered.table-hover.table-condensed
                thead
                    th #
                    th 1
                    th 2
                    th 3
                tbody
                    tr(ng-repeat="item in data")
                        td 1
                        td 2
                        td 3
                        td 4