doctype html
html(lang="en")
   head
      meta(charset='utf-8')
      title App
      <!-- inject:css --> <!-- endinject -->
   body
      div(ng-app="App")
         ng-view
      <!-- inject:js --> <!-- endinject -->